@font-face{
 font-family: "Gilroy"; /* Гарнитура шрифта */
 src: url(../fonts/Gilroyextrabold.ttf) format("truetype"); /* Путь к файлу со шрифтом */
 font-weight:bold;
 font-style:normal;
}

@font-face{
 font-family: "Gilroy"; /* Гарнитура шрифта */
 src: url(../fonts/Gilroylight.ttf) format("truetype"); /* Путь к файлу со шрифтом */
 font-weight: normal;
 font-style:normal;
}

@font-face{
 font-family: "OpenSans"; /* Гарнитура шрифта */
 src: url(../fonts/OpenSans-Light.ttf) format("truetype"); /* Путь к файлу со шрифтом */
 font-weight: 300;
 font-style:normal;
}

@font-face{
 font-family: "OpenSans"; /* Гарнитура шрифта */
 src: url(../fonts/OpenSans-Regular.ttf) format("truetype"); /* Путь к файлу со шрифтом */
 font-weight: normal;
 font-style:normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #fff;
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.contects a {
  cursor: pointer;
}

.main-header {
  position: relative;
  box-sizing: border-box;
  padding: 85px 60px 0 60px;
  width: 1160px;
  min-height: 226px;
  background-image: linear-gradient(to bottom, #ffffff 18%, #f8e297 18%);
}

.header-logo {
  position: absolute;
  top: 22px;
  left: 60px;
}

.header-logo a:hover {
  opacity: 0.6;
}

.header-logo a:active {
  opacity: 0.3;
}

.header-user-block a:hover,
.header-bottom a:hover,
.mod-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog a:hover::after,
.catalog a:hover::before,
.login-link:hover::before,
.compare:hover::before,
.basket:hover::before {
  opacity: 0.6;
}

.catalog a:active::after,
.catalog a:active::before,
.login-link:active::before,
.compare:active::before,
.basket:active::before {
  opacity: 0.3;
}

.header-user-block a:active,
.header-bottom a:active,
.mod-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-find-form {
  box-sizing: border-box;
  width: 530px;
  position: relative;
}

.header-user-block {
  display: flex;
}

.login-link::before,
.compare::before,
.basket::before,
.found::before {
  content: "";
  position: absolute;
  top: 41%;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.found::before {
  top: 10%;
  background-image: url(../img/search.svg);
}

.login-link::before {
  background-image: url(../img/user.svg);
  left: 600px;
}

.compare::before {
  background-image: url(../img/compare.svg);
  right: 253px;
}

.basket::before {
  background-image: url(../img/cart.svg);
  right: 123px;
}

.header-top .buy-navigation {
  display: flex;
  margin-left: 3px;
}

.buy-navigation li:first-child {
  margin-right: 41px;
}

.buy-navigation li {
  padding-left: 27px;
}

.header-top form {
  list-style: none;
  min-height: 50px;
}

.found input,
.user-navigation,
.buy-navigation {
  border: none;
  background-color: transparent;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.user-login {
  box-sizing: border-box;
  width: 290px;
  padding-left: 12px;
}

.user-login a {
  padding-left: 26px;
}

.btn-found-form {
  position: absolute;
  background-color: transparent;
  top: -26px;
  left: 355px;
  color: #000;
  width: 85px;
  height: 50px;
  border: 2px solid black;
  visibility: hidden;
}

.btn-found-form:hover  {
  color: rgb(255, 255, 255);
  background-color: #000;
}

.btn-found-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
}

.input-find {
  width: 355px;
  padding-left: 40px;
}

.input-find:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.input-find:focus + .btn-found-form,
.btn-found-form:hover,
.btn-found-form:active {
  visibility: visible;
}

.input-find::-webkit-input-placeholder  {
  color: rgba(0, 0, 0, 0.3);
}

.input-find:hover::-webkit-input-placeholder  {
  color: rgba(0, 0, 0, 0.6);
}

.input-find:focus::-webkit-input-placeholder  {
  color: rgba(0, 0, 0, 1);
}

.header-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.header-bottom .catalog,
.header-bottom .conditions,
.header-bottom .contacts {
  font-weight: bold;
  font-size: 18px;
  padding-top: 16px;
  letter-spacing: 3.5px;
  margin: 0;
}

.catag {
  width: 530px;
}

.header-buy-block {
  width: 564px;
  display: flex;
}

.conditions {
  width: 400px;
}

.conditions-list {
  display: flex;
  padding-left: 65px;
}

.conditions-list li:first-child {
  margin-right: 34px;
}

.contacts-block {
  width: 164px;
}

.contacts {
  padding-left: 45px;
}

.catalog {
  position: relative;
}

.mod-menu {
  position: absolute;
  display: flex;
  visibility: hidden;
  background-color: #f8e297;
  box-sizing: border-box;
  padding: 0 60px;
  width: 1160px;
  height: 165px;
  margin: 0 auto;
  top: 40px;
  left: -60px;
  z-index: 3;
}

.show-menu:hover ~ .mod-menu,
.mod-menu:hover {
  visibility: visible;
}

.catalog a  {
  padding-right: 20px;
}

.mod-menu ul {
  min-width: 200px;
  margin-top: 28px;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0;
  text-transform: none;
}

.mod-menu li {
  margin-bottom: 10px;
}

.mod-menu ul:first-child {
  margin-right: 40px;
}

.show-menu::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 230px;
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.show-menu::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 237px;
  width: 2px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.3);
}


.sales-hits {
  background-image: linear-gradient(to bottom, #f8e297 114px, #ffffff 114px);
  width: 1160px;
  min-height: 510px;
}

.slide-block-sales {
  display: flex;
  min-height: 585px;
  position: relative;
  margin-bottom: 7px;
}

.copter-slide,
.selfi-slide,
.fitnes-slide {
  display: none;
}


.slide-photo {
  box-sizing: border-box;
  width: 590px;
  padding: 3px 0;
  padding-right: 27px;
}

.slide-photo img {
  display: block;
  margin: 0 auto;
}

.slide-info {
  width: 540px;
  position: relative;
}

.slide-info h3 {
  font-size: 47px;
  font-weight: bold;
  margin: 80px 0 0 8px;
  line-height: 1.2;
  letter-spacing: 0.7px;
}

.slide-info p {
  margin: 20px 0 0 10px;
  padding-right: 31px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.item-description {
  line-height: 2;
}

.copter-info p {
  padding-right: 60px;
}

.copter-info h3 {
  position: relative;
  z-index: 2;
}

.slide-info .detail,
.item-block-hover .add-basket {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 43px 0 0 11px;
  padding-top: 6px;
  width: 220px;
  height: 40px;
  background-image: linear-gradient(to bottom, #ffffff 37%, #e4c341 37%, #e4c341 57%, #ffffff 57%);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.slide-info .detail:hover,
.about-us-info .detail:hover,
.device-contacts .write-us:hover,
.user-info .send-feedback:hover,
.item-block-hover .add-basket:hover,
.price-checkbox-form .show-item-list:hover {
  background: #e4c341;
  outline: none;
}

.slide-info .detail:active,
.about-us-info .detail:active,
.device-contacts .write-us:active,
.user-info .send-feedback:active,
.item-block-hover .add-basket:active,
.price-checkbox-form .show-item-list:active {
  background-color: #e4c341;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.product-description {
  margin: 55px 0 0 5px;
}

.slide-info .block-number {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 65px;
  right: 20px;
  font-size: 179px;
  color: #fff;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.slide-info::before {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 10px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.slide-info .therd-column {
  padding-left: 78px;
}

.product-description td {
  height: 35px;
  padding: 1px 0 0 2px;
}

.first-column {
  width: 155px;
}

.slide-info .detail-name {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
}

.slide-info .detail-row {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
}

.toggles-sales-hits label {
  display: block;
  position: relative;
  width: 11px;
  height: 11px;
  border: 1px solid #000;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.toggles-sales-hits {
  display: flex;
  position: absolute;
  top: 330px;
  right: 63px;
}

.toggles-sales-hits label {
  margin-right: 20px;
}

#selfi-slide:checked ~ .toggles-sales-hits .radio-selfi::after,
#fitnes-slide:checked ~ .toggles-sales-hits .radio-fitnes::after,
#copter-slide:checked ~ .toggles-sales-hits .radio-copter::after   {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

input#selfi-slide:checked ~ .selfi-slide,
input#fitnes-slide:checked ~ .fitnes-slide,
input#copter-slide:checked ~ .copter-slide {
  display: flex;
}

.price-menu {
  background-color: lightblue;
}

.price {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
}

.price li {
  width: 160px;
  margin-right: 40px;
}

.price li:nth-child(6n) {
  margin-right: 0;
}

.price div {
  width: 160px;
  height: 160px;
  background-color: #f8e297;
}

.price-image:hover div {
  background-color: #e4c341;
}

.price-image:active,
.price-image:active .title-price {
  opacity: 0.3;
  fill: rgba(0, 0, 0, 0.3);
}

.price .title-price {
  margin: 35px 0 0 0;
  line-height: 23px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.4px;
  font-size: 17.5px;
}

.title-selfi {
  padding-right: 35px;
}

.price-image svg {
  display: block;
  margin: 0 auto;
  padding-top: 55px;
}

.photo-selfi svg {
  padding-top: 43px;
}

.photo-action svg {
  padding-top: 40px;
  padding-left: 10px;
}

.photo-fitnes svg {
  padding-top: 52px;
  padding-left: 5px;
}

.photo-clock svg {
  padding-left: 7px;
  padding-top: 33px;
}

.photo-copter svg {
  padding-top: 50px;
}

.service {
  width: 100%;
  background-image: linear-gradient(to bottom, #fff 39%, #e4e4e4 39%);
}

.service-slider {
  display: flex;
  min-height: 468px;
  position: relative;
  background-color: transparent;
}

.toggles-service {
  box-sizing: border-box;
  width: 284px;
  margin-top: 81px;
  padding-top: 82px;
  height: 319px;
  border-right: 7px solid #000;
}

.toggles-service label {
  box-sizing: border-box;
  display: block;
  width: 160px;
  height: 39px;
  text-align: center;
  margin-bottom: 28px;
  padding-top: 4px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, transparent 34%, #e4c341 34%, #e4c341 53%, transparent 53%);
}

.slide-delivery,
.slide-warranty,
.slide-credit {
  width: 876px;
  position: absolute;
  left: 284px;
  min-height: 468px;
}

.slide-delivery,
.slide-warranty,
.slide-credit {
  display: none;
}

.delivery-info,
.warranty-info,
.credit-info {
  box-sizing: border-box;
  padding: 150px 0 0 117px ;
  width: 610px;
}

.delivery-info h3,
.warranty-info h3,
.credit-info h3 {
  margin: 0;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.7px;
}

.delivery-info p,
.warranty-info p,
.credit-info p {
  margin-top: 28px;
  padding-right: 25px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 2;
}

.credit-info p {
  padding-right: 55px;
}

.delivery-photo {
  padding-top: 165px;
  width: 266px;
}

.warranty-photo,
.credit-photo {
  padding-top: 140px;
  width: 266px;
}

.delivery-photo svg,
.warranty-photo svg,
.credit-photo svg {
  display: block;
  margin: 0 auto;
}

input#delivery-slide:checked ~ .slide-delivery,
input#warranty-slide:checked ~ .slide-warranty,
input#credit-slide:checked ~ .slide-credit {
  display: flex;
}

.toggles-service label:hover {
  background-color: #e4c341;
}

#delivery-slide:checked ~ .toggles-service .delivery-label,
#warranty-slide:checked ~ .toggles-service .warranty-label,
#credit-slide:checked ~ .toggles-service .credit-label {
  background: #000;
  width: 100%;
  color: #f7e184;
  padding-right: 113px;
}

.about-us-block {
  display: block;
  position: relative;
  min-height: 400px;
}

.partners-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 96px;
  margin-bottom: 77px;
  width: 1160px;
  height: 95px;
}

.partners-block .partners {
  display: block;
  width: 290px;
  height: 95px;
}

.partners-block .partner-1 {
  background-image: url(../img/partners-1.png);
  background-repeat: no-repeat;
}

.partners-block .partner-2 {
  background-image: url(../img/partners-2.png);
  background-repeat: no-repeat;
  background-position-x: 38%;
}

.partners-block .partner-3 {
  background-image: url(../img/partners-3.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

.partners-block .partner-4 {
  background-image: url(../img/partners-4.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
}

.partners-block .partner-1:hover {
  background-image: url(../img/partners-hover-1.png);
}

.partners-block .partner-2:hover {
  background-image: url(../img/partners-hover-2.png);
}

.partners-block .partner-3:hover {
  background-image: url(../img/partners-hover-3.png);
}

.partners-block .partner-4:hover {
  background-image: url(../img/partners-hover-4.png);
}

.about-us {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 500px;
  padding-top: 46px;
  margin-bottom: 80px;
}

.about-us::before,
.about-us::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  top: 22px;
  background-color: #000;
}

.about-us::after {
  right: 480px;
}

.about-us-info {
  width: 598px;
}

.device-contacts {
  position: relative;
  width: 562px;
}

.about-us-info h2,
.device-contacts h2 {
  line-height: 50px;
  margin: 27px 0 45px 0;
  font-weight: bold;
  font-size: 47px;
}

.about-us-info p,
.device-contacts p {
  font-family: "OpenSans", Arial, sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.about-us-info p {
  padding-right: 150px;
  margin-bottom: 34px;
}

.device-contacts p {
  margin-bottom: 40px;
}

.about-us-info .delivery-row {
  padding-right: 113px;
  margin-bottom: 75px;
}

.about-us-info ul {
  font-weight: bold;
  font-size: 14px;
  margin-left: 17px;
}

.about-us li {
  margin-bottom: 14px;
  padding-left: 20px;
  letter-spacing: 1.1px;
}

.about-us ul {
  list-style-type: circle;
}

.about-us-info .detail,
.device-contacts .write-us {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 62px 0 0 0;
  padding-top: 6px;
  width: 261px;
  height: 40px;
  background-image: linear-gradient(to bottom, #ffffff 37%, #e4c341 37%, #e4c341 57%, #ffffff 57%);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  margin: 0;
  padding: 35px 0 0 58px;
  letter-spacing: 0.6px;
  line-height: 50px;
}

.product-catalog .breadcrumbs-catalog {
  display: flex;
  font-size: 14px;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  margin: 23px 0 45px 60px;
}

.breadcrumbs-catalog li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-catalog li:not(:last-child)::after {
 content: "";
 position: absolute;
 width: 10px;
 height: 10px;
 top: 10px;
 right: -27px;
 background-image: url("../img/nav-arrow.svg");
 background-repeat: no-repeat;
}

.breadcrumbs-catalog a {
  opacity: 0.3;
}

.breadcrumbs-catalog a:hover {
  opacity: 1;
}

.breadcrumbs-catalog a:active {
  opacity: 0.3;
}

.filters-bg {
  width: 100%;
  min-height: 70px;
  background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%)
}

.price-item-bg {
  width: 100%;
  background-image: linear-gradient(to right, #ebebeb 50%, #ffffff 50%)
}

.filters-container,
.filter-and-items {
  background-color: transparent;
  display: flex;
}

.filter-title {
  min-height: 70px;
  width: 28.5%;
  min-width: 262px;
  background-color: #dcdcdc;
}

.filter-name {
  box-sizing: border-box;
  padding-left: 69px;
  min-height: 70px;
  width: 67.5%;
  display: flex;
  background-color: #ebebeb;
}

.filter-title p,
.filter-name p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 22px 0 0 60px;
  letter-spacing: 4px
}

.filter-name p {
  margin-left: 0;
}

.filter-name .filter-categories {
  display: flex;
  margin: 22px 0 0 49px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
}

.filter-categories li {
  flex-shrink: 0;
}

.filter-categories a {
  margin-right: 29px;
  opacity: 0.3;
}

.filter-categories a:hover {
  opacity: 0.6;
}

.filter-categories a:active {
  opacity: 1;
}

.filter-categories .actived-categories {
  opacity: 1;
  font-weight: bold;
}

.pointer {
  display: flex;
  box-sizing: border-box;
  padding: 27px 0 0 5px;
  justify-content: space-between;

  width: 4%;
  min-height: 70px;
  height: 15px;
  background-color: #ebebeb;
}

.pointer path {
  fill: #c3c2c2;
}

.pointer-button:hover path {
  fill: #a7a5a6;
}

.pointer-button:active path,
.pointer-actived path {
  fill: #000;
}

.pointer a {
  font-size: 0;
}

.item-details {
  box-sizing: border-box;
  flex-shrink: 0;
  padding-left: 58px;
  width: 28.5%;
  min-width: 262px;
  min-height: 326px;
  background-color: #ebebeb;
}

.price-checkbox-form {
  width: 204px;
  margin-top: 69px;
}

.price-checkbox-form fieldset {
  padding: 0;
  border: none;
}

.price-checkbox-form legend {
  border-top: 2px solid #000;
  width: 100%;
  padding-top: 10px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.price-checkbox-form .scale {
  position: relative;
  margin: 32px 0 9px 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #dbdbdb;
}

.scale .toggle-min,
.scale .toggle-max {
  position: absolute;
  top: -9px;
  width: 22px;
  height: 25px;
  z-index: 1;
  left: -6px;
  cursor: pointer;
}

.scale .toggle-min:active svg,
.scale .toggle-max:active svg{
  width: 22px;
  height: 25px;
}

.scale .toggle-max {
  left: 107px;
}

.scale .bar {
  position: absolute;
  top: 1px;
  width: 107px;
  height: 2px;
  border-top: 2px solid #91c92f;
}

.price-checkbox-form .amount{
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 32px;
}

.amount .amount-min {
  margin-right: 60px;
}

.mod-list {
  margin: 0 0 24px 0;
  padding: 23px 0 0 0;
}

.mod-list li {
  height: 40px;
}

.mod-list label {
  position: relative;
  font-size: 14px;
  padding-left: 37px;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.show-item-list {
  width: 200px;
  height: 40px;
  border: 0;
  background-image: linear-gradient(to bottom, #ebebeb 37%, #e4c341 37%, #e4c341 57%, #ebebeb 57%);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: -1px;
  top: -4px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-radio + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: -1px;
  top: -4px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-radio + label:hover::before,
.filter-checkbox + label:hover::before {
  opacity: 0.3;
}

.catalog-item {
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: 70px;
  width: 71.5%;
  padding-top: 70px;
  background-color: #ffffff;
}

.catalog-item .item-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-list .item-block {
  position: relative;
  width: 360px;
  height: 380px;
  background-color: #eeeeee;
  margin-bottom: 31px;
}

.item-list .item-block-hover {
  position: absolute;
  display: none;
  width: 360px;
  height: 380px;
  background-color: #eeeeee;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 1;
}

.item-block-hover .add-basket {
  border: none;
  outline: none;
  margin: 165px auto 15px;
  background-image: linear-gradient(to bottom, #eeeeee 45%, #e4c341 45%, #e4c341 68%, #eeeeee 68%);
}

.item-block-hover p {
  width: 160px;
  margin: 0 auto;
}

.img-item-price:hover ~ .item-block-hover,
.item-block-hover:hover {
  display: block;
}

.item-block-stock::after {
  content: "NEW";
  box-sizing: border-box;
  position: absolute;
  padding-top: 15px;
  top: 29px;
  right: 27px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 58px;
  height: 58px;

}

.name-and-price {
  display: flex;
  justify-content: space-between;
}

.item-list > li {
  width: 360px;
  margin-bottom: 49px;
}

.name-and-price .name-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 265px;
  line-height: 23px;
  letter-spacing: 0.3px;
}

.name-and-price .price-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
}

.catalog-nav {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  padding: 23px 0 0 30px;
  margin: -11px 0 76px 0;
  background-color: #ebebeb;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.catalog-nav li {
  margin-right: 28px;
}

.catalog-nav li:last-child {
  margin: 0;
}

.nav-prev,
.nav-next {
  position: absolute;
  width: 125px;
  min-height: 25px;
  margin: 0;
  top: 0;
}

.nav-prev  {
  left: 0;
  padding: 22px 0;
  text-align: center;
}

.nav-prev .page-nav {
  padding: 25px 26px 25px 32px;
}

.nav-next .page-nav {
  padding: 25px 28px 25px 22px;
}

.nav-next {
  right: 0;
  padding: 22px 0;
  text-align: right;
}

.nav-next a,
.nav-prev a {
  width: 85px;
}

.catalog-nav a {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-nav .actived-page,
.catalog-nav a:active,
.catalog-nav .page-nav {
  color: rgba(0, 0, 0, 1);
}

.nav-prev .page-nav:hover,
.nav-next .page-nav:hover {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 1);
}

.nav-prev .page-nav:active,
.nav-next .page-nav:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  width: 100%;
  min-width: 1160px;
  min-height: 323px;
  background-color: #474747;
}

.container-footer {
  width: 1160px;
  min-height: 323px;
  padding-top: 65px;
  background-color: transparent;
}

.footer-user-block {
  display: flex;
  width: 1160px;
}

.footer-user-block a {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-left: 23px;
  color: #fff;
  opacity: 0.7;
}

.footer-compare,
.footer-basket {
  position: relative;
}

.footer-basket {
  width: 88px;
}

.footer-login-link a:hover,
.footer-compare a:hover,
.footer-basket a:hover  {
  opacity: 1;
}

.footer-login-link a:active,
.footer-compare a:active,
.footer-basket a:active {
  opacity: 0.3;
}

.footer-user-block .footer-logo {
  width: 823px;
}

.footer-logo a {
  padding: 0;
  opacity: 1;
}

.footer-logo a:hover {
  opacity: 0.7;
}

.footer-logo a:active {
  opacity: 0.3;
}

.footer-user-block .user-login {
  width: 115px;
}

.footer-user-block .footer-buy-navigation {
  display: flex;
  width: 222px;
}

.footer-buy-navigation li:first-child {
  margin: 0 40px 0 10px;
  width: 94px;
}

.footer-user-block svg {
  position: absolute;
  top: 9px;
  left: 0;
}

.footer-user-block path {
  fill: #ffc600;
  opacity: 0.7;
}

.footer-login-link {
  position: relative;
}

.footer-login-link a {
  padding: 0 0 0 28px;
}

.footer-info-block {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 62px;
  padding-top: 27px;
}

.footer-info-block p {
  flex-shrink: 0;
}

.footer-service-block {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 432px;
  margin-right: 200px;
}

.footer-service-block li {
  width: 125px;
}

.footer-service-block li:nth-child(2) {
  flex-grow: 1;
  text-align: center;
}

.footer-info-block a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.footer-info-block a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-info-block a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-info-block p {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.4px;
  color: #fff;
  opacity: 0.7;
}

.footer-info-block .address {
  position: relative;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  margin-right: 165px;
}

.footer-info-block .address::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  top: 104px;
  background-color: #f0c52e;
}

.address {
  margin-top: 25px;
}

.footer-social {
  display: flex;
  position: relative;
}

.footer-social .social {
  display: flex;
  width: 150px;
  margin-left: 509px;
  margin-right: 400px;
 }

.social-fb,
.social-insta {
  margin-right: 22px;
}

.social path {
  opacity: 0.3;
}

.social-fb:hover path,
.social-insta:hover path,
.social-tw:hover path {
  opacity: 0.6;
}

.social-fb:active path,
.social-insta:active path,
.social-tw:active path {
  opacity: 0.1;
}

.html-logo {
  width: 30px;
  height: 40px;
  margin-left: 485px;
}

.html-logo:hover {
  opacity: 0.7;
}

.html-logo:active {
  opacity: 0.3;
}

 /* MODAL FORM*/

.modal {
  position: fixed;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 25px 50px -15px rgba(0, 0, 0, 0.5);
}

.modal-feedback,
.modal-map {
  box-sizing: border-box;
  display: none;
  top: 120px;
  left: 38.2%;
  min-height: 556px;
  width: 960px;
  margin-left: -230px;
  padding: 80px 100px;
}

.modal-map {
  padding: 0;
}

.modal-map p {
  margin: 0;
  height: 556px;
}

.modal-close {
  position: absolute;
  outline: none;
  top: 24px;
  right: 20px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.modal-close:hover path {
  fill: #f1c52e;
}

.modal-close:active path {
  fill: #faedc0;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-info p {
  margin: 0;
  padding: 13px 0 0 0;
  width: 362px;
}

.user-info input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding-left: 20px;
  margin-top: 6px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  border: none;
  background-color: #f1f1f1;
}

.user-info label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.user-info .write-us-block {
  width: 760px;
  margin: 20px 0 0 0;
}

.write-us-block textarea {
  box-sizing: border-box;
  width: 760px;
  font-family: "OpenSans", Arial, sans-serif;
  color: #757575;
  margin: 5px 0 0 0;
  padding: 16px 19px;
  font-size: 14px;
  border: none;
  background-color: #f1f1f1;
}

.user-info .send-feedback {
  border: none;
  display: block;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  margin: 22px 0 0 0;
  width: 201px;
  height: 35px;
  background-image: linear-gradient(to bottom, #ffffff 35%, #e4c341 35%, #e4c341 60%, #ffffff 60%);
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

